@charset "UTF-8";

*,*::before,*::after{box-sizing:border-box;-webkit-appearance:none;-moz-appearance:none;-webkit-text-size-adjust:100%;}
*[hidden]{display:none!important;}
a,address,b,blockquote,body,button,dd,div,dl,dt,fieldset,form,h1,h2,h3,h4,hr,html,i,input,ins,legend,li,menu,ol,p,td,textarea,th,var,video,ul{margin:0;padding:0;outline:none;text-decoration:none;font-size:1em;font-style:normal;font-weight:inherit;font-family:inherit;text-align:inherit;color:inherit;}
button,fieldset,hr,img,input,textarea{border:none;background-color:transparent;}
button::-moz-focus-inner{border:0;}
footer,header,main{display:block;}
li{list-style:none;}

html{height:100%;-webkit-tap-highlight-color:transparent;}
body{text-rendering:optimizeLegibility;-webkit-font-smoothing:antialiased;}
body > svg{position:absolute;}
svg,symbol{overflow:visible;fill:currentColor;}
button{overflow:visible;}
button,input,textarea{line-height:inherit;}
b{font-weight:600;}
p,
ul,
ol{margin:1em 0;}
p:first-child,
ul:first-child,
ol:first-child{margin-top:0;}
p:last-child,
ul:last-child,
ol:last-child{margin-bottom:0;}
video,
img{display: block;width:100%;max-width:100%;}

.container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    border-bottom: 1px solid seashell;
    background: rgba(255, 255, 255, 0.8);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}

.header-content {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 100px;
    height: 84.4px;
    background-image: url(../img/logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
}

.menu-link__item {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-align: center;
    font-size: 14px;
    padding: 10px 20px;
    transition: all 0.3s;
    border: 1px solid transparent;
    margin-right: 10px;
    border-radius: 2px;
    text-transform: uppercase;
}

.menu-link__item:hover {
    border: 1px solid #FFCF00;
}

.menu-link__item:last-child {
    margin-right: 0;
}

.number {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16px;
    transition: all 0.3s;
}

.number:hover {
   color: #FFCF00;
   transition: all 0.3s;
}

.footer {
    background-color: #210f20;
}

.container-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 44px 0;
    font-family: 'Montserrat', sans-serif;
}

.logo-dark {
    width: 51px;
    height: 51px;
    background-image: url(../img/logo-dark.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 48px;
}

.container-logo-copiter {
    display: flex;
    align-items: center;
}

.copiter {
    font-size: 14px;
    color: #bba0a2;
}

.link-social {
    margin-right: -15px;
}

.link-social__item {
    position: relative;
    color: white;
    margin-right: 15px;
    font-weight: 500;
    line-height: 20px;
}

.link-social__item:after {
    position: absolute;
    content: '';
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    width: 5px;
    height: 5px;
    transition: 0.3s;
    border-radius: 50%;
}

.link-social__item:hover:after {
    background-color: #ffcf00;
    transition: 0.3s;
}