extends main

block variables
    - var pageTitle = 'О компании'
    - var mainStyle = href="css/style.css"

block content
    +header()

    main(class="main-wrapper container")
        h2(class="main-title") megacars

        .container-text-about
            p.
                MegaCars предлагает в аренду грузовые автомобили на выгодных условиях. Наша компания работает на рынке аренды коммерческого транспорта с 2013 года. Офис компания расположен в Москве, в шаговой доступности от станции метро Водный стадион.
                Наш автопрокат располагает внушительным парком грузовых транспортных средств, автомобилей разных категорий, типов фургонов и грузоподъемности. Автопарк укомплектован отечественными и зарубежными автомобилями, все автомобили проходят регулярную диагностику и своевременное техническое обслуживание. Большинство наших автомобилей обладает беспрепятственным доступов в центр Москвы.
                Динамическое ценообразование позволяет выгодно взять в долгосрочную аренду грузовой фургон. Мы тесно сотрудничаем с нашими корпоративными и арендующими на краткосрочный период клиентами, изучаем и понимаем их потребности. Мы дополнительно предоставляем клиентам возможность выезжать на наших автомобилях за пределы Московской области в другие регионы России.
                Взять грузовое авто в аренду можно посетив наш офис, либо мы можем оказать услугу по доставке автомобиля до вашего адреса, а так же забрать его по окончании срока аренды.
    +footer()