extends main

block variables
    - var pageTitle = 'Услуги'
    - var mainStyle = href="css/services.css"

block content
    +header()

    main(class="main-wrapper container")
        h2(class="main-title") дополнительные услуги

        .container-serv
            .container-serv__quote.
                “
                Наша миссия - 
                делать качественные
                услуги для Вас
            p.container-serv__text.
                MegaCars, компания предоставляющая гибкий спектр услуг, отвечающий запросам, как для краткосрочной, так и для долгосрочной аренды грузового автомобиля.
                Стандартный суточный лимит пробега, включенного в договор, составляет 350 км, пробег превышающий 350 км в сутки оплачивается дополнительно, при аренде сроком более чем на сутки, лимит пробега суммируется пропорционально количеству суток аренды. Во избежание возникновения непредвиденных расходов, воспользуйтесь опцией "безлимитный пробег", которая снимает суточное ограничение по пробегу.
                Для возможности управления автомобилем третьими лицами, на каждого водителя необходимо оформить опцию "Дополнительный водитель в Договор".
                Корпоративные клиенты, применяющие электронный документооборот (ЭДО), могут обмениваться с нашей компанией документами электронным способом.
        .container-number
                .container-number__number
                    span 01
                    p.
                        Выезд в
                        регионы РФ
                .container-number__number
                    span 02
                    p.
                        Дополнительный
                        водитель в Договор
                .container-number__number
                    span 03
                    p.
                        Безлимитный
                        пробег
                .container-number__number
                    span 04
                    p.
                        Въезд в центр
                        Москвы
                .container-number__number
                    span 05
                    p.
                        Подача/забор
                        автомобиля
                        по вашему адресу
    +footer()
            